*.yaml
*.npy
*.pyc
*.pt
experiment_data/*
denoised_dataset
test
*inspect*
2D_code_denoise/
denoised_results/
previous_paper_denoise/oneD*
previous_paper_denoise/gen_dataset
previous_paper_denoise/log*
results_to_compare*
previous_paper_denoise/exp_results/
results_new_SNR*
results_debug/
results*/
*dataset*/
dataset/
exps/