*.yaml
*.npy
*.pyc
*.pt
experiment_data/*
denoised_dataset
test
2D_code_denoise/
denoised_results/
previous_paper_denoise/oneD*
previous_paper_denoise/gen_dataset
previous_paper_denoise/log*
results_to_compare*
previous_paper_denoise/exp_results/
results_new_SNR*
results_debug/
results*/
*dataset*/*
exp_autoencoder_tracking
exps/
# configs*/*
# configs_4.13_solved_iterator_bug
.vscode/
*.png
*.jpg
*.txt
inspect*/*
inspect*
useless/
previous_paper_denoise/

!configs_bitmap
!dataset/*.ipynb
